@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    font-family: "Inter";
}

button {
    cursor: pointer;
}



/* navbar style  */


.nav-bar {
    display: flex;
    max-width: 1320px;
    justify-content: space-between;
    margin: auto;
    margin-top: 38px;
}

.downlod-resume-btn {
    font-size: 20px;
    padding: 17px 24px;
    border-radius: 8px;
    cursor: pointer;

}

.logo {
    font-size: 28px;
}

/* Banner  */

.hero-section {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.hero-contener {
    background-image: url(../assets/Hero-bg.png);
    height: 652px;
    width: 1440px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    max-width: 998px;
    margin: 0 auto;
    margin-top: 32px;
}

.hero-dis {
    font-size: 16px;
    color: rgb(13, 19, 33);
    width: 852px;
    margin: 0 auto;
    margin-top: 32px;
}

.hero-btn {
    color: white;
    font-size: 20px;
    padding: 21px 24px;
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    margin-top: 32px;
}



/* Why Web Development Section  */
.why-web-development {

    display: flex;

    justify-content: center;
    margin-top: 74px;
}

.why-contener {
    width: 946px;
    padding: 80px 97px;
    /* border: 1px solid; */
}

.why-title-dis {
    text-align: center;

}

.why-title-dis h1 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;

}

.why-title-dis p {
    color: rgb(13, 19, 33);
    font-size: 16px;
}

/* Cards  */
.why-card {
    display: flex;
    width: 850px;
    padding: 50px;
    margin-top: 48px;
    justify-content: space-between;
}

.why-card-text {
    width: 477px;
}

.why-card-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.why-card-dis {
    font-size: 16px;
    color: rgb(13, 19, 33);
    margin-bottom: 32px;
}

.why-card-btn {
    font-size: 20px;
    padding: 12px 20px;
}

/* reverse card  */

.why-card-rev {
    display: flex;
    flex-direction: row-reverse;
    width: 850px;
    padding: 50px;
    margin-top: 48px;
    justify-content: space-between;
}



/* My Inspiration section  */


.my-inspiration {
    width: 1140px;
    margin: auto;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 183px;


}

.my-ins-about {
    text-align: center;
    width: 850px;
    margin: auto;
    margin-bottom: 80px;
}

.my-ins-title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 24px;
}

.my-ins-des {
    font-size: 16px;
    color: rgb(13, 19, 33);
}

.inspiration-video {
    margin: 0 auto;
    border-radius: 16px;
}


/* My Current Target  */
.current-target {
    margin-bottom: 89px;
}

.current-tar-abo {
    width: 852px;
    margin: auto;
    text-align: center;
    margin-bottom: 48px;
}

.current-tar-title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;

}

.curent-tar-des {
    font-size: 16px;
    color: rgb(13, 19, 33);
}

/* Current turget card */

.current-target-cards {
    margin-top: 48px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 104px;
}

.curent-card-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 24px;
}

.curent-card-dis {
    font-size: 16px;
    color: rgb(83, 84, 88);
    margin-bottom: 24px;
}

.curent-card-lernmore {
    font-size: 16px;
    font-weight: 700;
    color: black;
}

/* I need Support  */

.need-support {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(32, 32, 12, 0.548), black), url(../assets/handshake.jpg);
    background-position: center;
    width: 1044px;
    margin: 0 auto;
    padding: 64px 48px;
    background-size: cover;
    margin-bottom: 100px;
    text-align: center;
    color: white;
    border-radius: 16px;
}

.need-support-title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 24px;
}

.need-support-des {
    font-size: 16px;

    margin-bottom: 40px;
}

.need-support-input {
    width: 514px;
    padding: 19px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;


}

.need-support-input:focus {
    outline: none;
}

.need-support-btn {
    padding: 19px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;

}

.need-support-btn:hover {
    padding: 17.5px 18.5px;
    border: 1.5px solid white;
    background: transparent;
    color: white;
}


/* Footer  */

.footer-socal {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;

}

.footer-title {
    font-size: 20px;
    font-weight: 600;
}